<h2>Source Code</h2>
The Evernote LTI source code can be located 
<a href="https://github.com/CloudNote/Evernote-LTI">at our Github page</a>..

<h2>User Documentation</h2>
<h3>Introduction</h3>
This is the documentation for an Evernote Learning Tools Interoperability (LTI) tool which allows a Learning Management System (LMS) to integrate with Evernote. Users will be able to authorize Evernote for the LMS and embed their notes into a course page.
<h3>Disclaimer</h3>
The use of this app requires acceptance of the term and conditions of the specific LMS and of Evernote. Any issues arising from the use of these respective systems is not the responsibility of the makers of this app, and should be directed to the LMS provider or Evernote. The makers of this app offer no warranty for its use.
<br /><br />
Version 1.0<br />
<a href="http://github.com/Dritz/Evernote-LTI/blob/master/LICENSE">License</a>
<h3>Table of Contents</h3>
TBD
<h3>Tool Guide</h3>
<h4>Installation (adding the tool and authorizing it)</h4>
<ul>
  <li><a href="http://guides.instructure.com/s/2204/m/4152/l/74552-how-do-i-configure-an-external-tool-for-a-course-using-xml">Click here</a> to see step by step instructions on how to add an external tool to a Canvas course.</li>
  <li>Note that in the “Set Configuration Type” section, you will set the configuration type to “By URL” and paste the URL from <a href="http://evernote-lti.herokuapp.com/tool_config.xml">this</a> location.</li>
  <li>Additionally, the consumer key is “test“ and consumer secret is “secret“.</li>
</ul>
<h4>Uninstallation (removing the tool and de-authorizing it)</h4>
<ul>
  <li>To uninstall the tool, navigate to the “External Tools” tab. Click the trashcan icon located  to the right on the tool. A dialog asking you to confirm you want to remove the tool will appear. Click “OK” to remove the tool, or “Cancel” otherwise.</li>
  <li>Explanation of every menu/option for the tool</li>
  <li>screen caps</li>
  <li>Troubleshooting</li>
</ul>
<h3>Technical Resources</h3>
Technical Definitions<br />
<a href="http://www.instructure.com/">LMS</a>: Learning Management Systems are created to enable the administration of and participation in online education courses.<br />
<a href="http://www.imsglobal.org/toolsinteroperability2.cfm">LTI</a>: Learning Tools Interoperability is designed to set standards for the intergration of educational applications with platforms, including LMS.<br />
<a href="https://evernote.com/evernote/">Evernote</a>: Evernote is a note taking application that allows users to create, edit, and share notes and access them from a computer, phone, or tablet.<br />
<h3>Contact and Additional Support Information</h3>
For user support, send an email to:<br>
  <a href="mailto:user.evernoteltiapp@gmail.com">user.evernoteltiapp@gmail.com</a>
<h3>Copyright and Affiliation</h3>
Copyright 2013, Aleksandr Soborov and Jack Brewer. All rights reserved.<br>
Evernote, LTI, and Canvas are trademarks of their respective parties.