<ul>
  <% @notebooks.each_value do |notebook| %>
    <li class="notebook"><%= notebook[:notebook].name %>
      <ul>
        <% notebook[:notelist].notes.each do |note| %>
          <a href="<%= "#{@noteurls[note.guid]}" %>">
          <li class="note"><%= note.title %></li>
          </a>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>