
<html>
    <head>
        <!-- Bootstrap library -->
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">        
        
        <!-- HTML5 shim -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <title>Evernote</title>
    </head>
    
    <body>
        <img id="header_img" src="http://evernote.com/media/img/product_icons/evernote-75.png" style="padding-right: 10px; width: 70px; vertical-align: middle; float: left;"/>
        <h1>Embed a note:</h1>
    </body>
</html>