<html>
    <head>
        <title>Evernote</title>
    </head>
    
    <body>
        <img id="header_img" src="http://evernote.com/media/img/product_icons/evernote-75.png" style="padding-right: 10px; width: 70px; vertical-align: middle; float: left;"/>
        <h1>Embed a note:</h1>
    </body>
</html>