<ul>
  <% @notebooks.each_key do |notebook| %>
    <li class="notebook"><%= notebook %>
        <ul>
            <% @notebooks[notebook].each do |note| %>
                <li class="note"><%= note %></li>
            <% end %>
        </ul>
    </li>
  <% end %>
</ul>