<h2>LMS Support</h2>
Currently, Evernote-LTI only supports the <a href="https://canvas.instructure.com/">Canvas</a> learning management system.

<h2>Installation</h2>
Setting up an LTI tool is very simple!
<ol>
  <li>Open your Canvas course.</li>
  <li>Navigate to the Settings page from the sidebar.</li>
  <li>Write more steps.</li>
</ol>