<h2>LMS Support</h2>
Below is a table of commonly used Learning Management Systems, their status of 
LTI support, and if Evernote LTI currently supports them.
<table>
  <caption>
    Full list of LMS support of the LTI protocol is available 
    <a href="http://www.imsglobal.org/cc/statuschart.cfm">here.</a>
  </caption>
  <thead>
    <tr>
      <th>LMS</th>
      <th>LTI Support</th>
      <th>Editor Button Support</th>
      <th>Evernote LTI Support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Angel</td>
      <td class="td-yes">1.1</td>
      <td class="td-no">???</td>
      <td class="td-no">No</td>
    </tr>
    <tr>
      <td>Blackboard</td>
      <td class="td-yes">1.0 + 1.1</td>
      <td class="td-no">???</td>
      <td class="td-no">No</td>
    </tr>
    <tr>
      <td>Canvas</td>
      <td class="td-yes">1.0 + 1.1</td>
      <td class="td-yes">Yes</td>
      <td class="td-yes">Yes</td>
    </tr>
    <tr>
      <td>Moodle</td>
      <td class="td-yes">1.0</td>
      <td class="td-no">???</td>
      <td class="td-no">No</td>
    </tr>
  </tbody>
</table>

<h2>Installation</h2>
Setting up an LTI tool is very simple!
<ol>
  <li>Open your Canvas course.</li>
  <li>Navigate to the Settings page from the sidebar.</li>
  <li>Write more steps.</li>
</ol>