<h2>Welcome to Evernote LTI!</h2>
<p>This LTI application allows teachers to embed Evernote-hosted notes into
their Canvas pages and assignments.</p>
<p>Try the Getting Started section for instructions to set up this tool, or if
you already know how, just use the Tool Config link in the navbar!</p>
<p>Please note that you cannot edit or create notes within Evernote LTI.
Modify notes within your Evernote account, and use Evernote LTI to place them
in Canvas pages.
</p>