<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= @header %></title>
    </head>
    
    <body>
        <header>
            <h1>
                <img src="http://evernote.com/media/img/product_icons/evernote-75.png"/>
                <%= @header %>
            </h1>
        </header>
        
        <hr>
        
        <section>
            <%= yield %>
        </section>
    </body>
</html>