<p>
  You have successfully authorized your LMS to access your Evernote account! 

  <script language="JavaScript">
  <!--
  function refreshParent() {
    window.opener.location.href = "<%= @tp.build_return_url %>;

    if (window.opener.progressWindow)
    	
    {
      window.opener.progressWindow.close()
    }
    window.close();
  }
  window.onload = refreshParent;
  //-->
  </script>
</p>