/* Body styles */
body {
  margin: 0 auto;
  padding: 5px;
  max-width: 800px;
  height: 100%;
}

/* Header styles */

header img {
  padding-right: 10px;
  vertical-align: middle;
}

h1 {
  margin: 0;
}

/* Navigation bar styles */

nav ul {
  padding: 0;
  display: table;
  table-layout: fixed;
  height: 2em;
  width: 100%;
}

nav ul li {
  display: table-cell;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: #41D82D;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  white-space: nowrap;
}

nav ul li:first-child {
  border-left: 1px solid black;
}

nav ul li a:link {
  color: black;
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: gray;
  text-decoration: none;
}

/* Footer styles */

footer {
  margin-top: 50px;
  text-align: center;
  font-size: .7em;
  font-style: italic;
}

/* Embed page styles */
.notebook {
  list-style-image: url('notepadicon.gif');
}

.notebook a:link, .notebook a:visited, .notebook a:hover, .notebook a:active {
  color: black;
  text-decoration:none;
}

.note {
  list-style-image: url('noteicon.png');
}

.note:hover {
  background-color: #41D82D;
}